body {
    background: rgb(222, 229, 255);
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: tahoma;
}
header {
    font-size: 1.5em;
    font-weight: bold;
}
#all-contents {
    max-width: 800px;
    margin: auto;
}

nav {
    background: rgb(69, 59, 128);
    margin: 0 auto;
    display: flex;
    padding: 10px;
}
nav header {
    display: flex;
    align-items: center;
    color: white;
    flex: 1;
}
nav ul {
    list-style-image: none;
}
nav li {
    display: inline-block;
    padding: 0 10px;
}
nav a {
    text-decoration: none;
    color: #fff;
}
main {
    background: rgb(157, 173, 242);
    display: flex;
}
.content {
    flex: 1;
    padding: 15px;
}

/*main page*/
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar img {
    width: 300px;
    box-shadow: 5px 5px #454545;
}
.content {
    flex: 1;
    padding: 15px;
    column-gap: 50px;
}
.icon{
    width: 18px;
    height: 15px;
}
.interests header {
    font-size: 1.25em;
}
.screenpics{
    padding:10px 10px;
    column-gap: 20px;
}
#proj1 {
    margin-bottom: 20px;
}
#proj2 {
    right: 20px;
}

 /* portfolio styles */
 #portfolio {
    list-style-type: none;
    padding-left: 0;
}

#portfolio li {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#portfolio li:hover {
    box-shadow: 5px 5px #454545;
} 

#portfolio a {
    text-decoration: none;
    color: #454545;
}